:root{
    --background: linear-gradient(#e66465, #9198e5);
    --light: #FFEBCD;
    --dark: #483D8B;
}
body{
    display: flex;
    flex-direction: column;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#e66465, #9198e5);
    color: var(--dark);
    padding: 3%;
}
h1{
    font-size: 300%;
}
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    color: var(--dark);
}
nav a{
    color: var(--dark);
}
nav a:hover{
    color: var(--light);
}
section {
    display: flex;
    justify-content: space-between;
    color: #483D8B;
    padding: 3%;
}

div {
    position: relative;
    flex-basis: 60%;
}
h2 {
    border-right: 5px solid  var(--dark);
    font-size: 200%;  
    padding: 3%;
    flex-basis: 30%;
}
#about-me{
    margin-top: 30px;
    text-align: center;
}
figure {
    position: relative;
}
img {
    width:100%;
    padding: 15px;
    border: 3px solid var(--dark);
    margin: 30px;
}
.extra-img {
    max-width: 100px;
    max-height: 100px;
}
.bottom-left {
    position: absolute;

  }
  footer{
    display: flex;
    color: #483D8B;
    padding: 3%;
    background: var(--background);
    width: 100%; 
    justify-content: space-between;
    align-items: center;
}