:root{
    --background: linear-gradient(#e66465, #9198e5);
    --light: #FFEBCD;
    --dark: #483D8B;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#e66465, #9198e5);
    color: var(--dark);
    padding: 3%;
}
h1{
    font-size: 300%;
}
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    color: var(--dark);
}
nav a{
    color: var(--dark);
}
nav a:hover{
    color: var(--light);
}
section {
    display: flex;
    justify-content: space-between;
    color: #483D8B;
    padding: 3%;
}

div {
    position: relative;
    flex-basis: 60%;
}
h2 {
    border-right: 5px solid  var(--dark);
    font-size: 200%;  
    padding: 3%;
    flex-basis: 30%;
}
#about-me{
    margin-top: 30px;
    text-align: center;
}
figure {
    position: relative;
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
}
img {
    width:100%;
    padding: 15px;
    border: 3px solid var(--dark);
   
}
.extra-img {
    max-width: 300px;
    max-height: 300px;
}
/* .bottom-left {
    position: absolute;

  } */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.C1{
    min-height: 400px;
    background-size: 100%;
    flex-basis: 100%;
    display: flex;
    align-items: flex-end;
    margin: 0.5em;
    border: 3px solid var(--dark);
    background-position: center;
  }
  .box-item{
    display: flex;
    align-items: flex-end;
    flex-basis: calc(50% - 1em);
    background-size: 100%;
    min-height: 175px;
    max-height: 175px;
    margin: 0.5em;
    border: 3px solid var(--dark);
  }
  .C2{
    background-image: url("https://thumbs.dreamstime.com/b/d-render-pre-workout-powder-container-isolated-over-white-background-104402902.jpg");
  }
  .C3{
    background-image: url("https://media.istockphoto.com/id/1332167985/photo/coming-soon-neon-sign-the-banner-shining-light-signboard-collection.jpg?b=1&s=170667a&w=0&k=20&c=Le4B-lJt-jXjeAOdlTQptNvN_DmRwWF19ShNc5VY4a4=");
  }
  footer{
    display: flex;
    color: #483D8B;
    padding: 3%;
    background: var(--background);
    width: 100%; 
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }